<link href="/umeditor/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet">
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-7">
                <h4>班级添加</h4>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <input type="hidden" name="id" value="{{_id}}"/>
                <input type="hidden" name="supervisor" value="{{sys_user.stid}}"/>
                <input type="hidden" name="collegeId" value="{{sys_user.collegeId}}"/>
                <input type="hidden" name="head_teacher" value=""/>

                <div class="form-group">
                    <lable class="col-sm-2 control-label">班级名称<span style="color:red">（*）</span></lable>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="name" value="{{name}}"
                               placeholder="请输入班级名称，如（12级1班）"/>
                    </div>
                </div>
                <div class="form-group">
                    <lable class="col-sm-2 control-label">班主任工号<span style="color:red">（*）</span></lable>
                    <div class="col-sm-6">
                        <select class="form-control selectHeader" id="selectHeader">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button class="btn btn-default col-sm-4" type="button" id="submit">保存</button>
                        <a href="/sys/classes" class="btn btn-default col-sm-4 col-sm-offset-2">取消</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{#extend "scripts"}}

    <script type="text/javascript">
        var url;
        var id = '{{_id}}';
        //班主任
        var $selectHeader = $('#selectHeader');
        $(function () {
            $selectHeader.select2({placeholder: "请选择班主任"});
            if (id) {
                url = '/sys/classes/edit';
            } else {
                url = '/sys/classes/add';
            }
            getSupervisor();
        });

        function getSupervisor() {
            var collegeId = '{{sys_user.collegeId}}';
            var data = {
                collegeId: collegeId,
                checkType: 1
            }
            my.ajax({
                url: '/sys/teacher/check',
                data: data,
                success: function (data) {
                    $selectHeader.empty();
                    var headerData = [];
                    if (data.data.length == 0) {
                        $selectHeader.select2({placeholder: "请选择班主任"});
                    } else {
                        var headNum;
                        for (var i = 0; i < data.data.length; i++) {
                            var header = {id: data.data[i].stid, text: data.data[i].name};
                            headerData.push(header);
                            if ('{{head_teacher}}' == data.data[i].stid) {
                                headNum = i;
                            }
                        }
                        $selectHeader.select2({
                            data: headerData
                        });
                        if ('{{head_teacher}}') {
                            var text = headerData[headNum].text;
                            $('#select2-selectHeader-container').html(text).attr('title', text);
                            $selectHeader[0].options[headNum].selected = true;
                        }
                    }
                }
            });
        }

        var gradeSubmit = function () {
            var className = $.trim($('input[name=name]').val());
            var head_teacher = $.trim($(".selectHeader").find("option:selected").val());
            var supervisor = '{{sys_user.stid}}';
            if (!className) {
                $.warning('请输入班级名称');
                return;
            }
            if (!head_teacher) {
                $.warning('请选择班主任');
                return;
            }
            if (supervisor == head_teacher) {
                $.warning('辅导员，班主任不能为同一个老师');
                return;
            }
            $('input[name=head_teacher]').attr("value", head_teacher);
            my.ajax({
                url: url,
                data: $("form").serialize(),
                success: function () {
                    window.location = '/sys/classes';
                }
            });
        };

        $('#submit').click(function () {
            gradeSubmit();
        });
    </script>

{{/extend}}