<link href="/umeditor/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet">
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-7">
                <h4>新闻添加</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <input type="hidden" name="id" value="{{_id}}"/>
            <div class="form-group">
                <lable class="col-sm-2 control-label">新闻标题<span style="color:red">（*）</span></lable>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="title" value="{{title}}" placeholder="请输入新闻标题"/>
                </div>
            </div>
            <div class="form-group">
                <lable class="col-sm-2 control-label">新闻描述<span style="color:red">（*）</span></lable>
                <div class="col-sm-6">
                    <textarea type="text" maxlength="300" class="form-control u-height" name="description"
                           placeholder="请输入新闻描述(300字以内)">{{description}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <lable class="col-sm-2 control-label">发布范围<span style="color:red">（*）</span></lable>
                <div class="col-sm-6">
                    <lable class="radio-inline">
                        <input type="radio" value="0" {{#eq scope 0}}checked{{/eq}} name="scope"/>
                        公开
                    </lable>
                    <lable class="radio-inline">
                        <input type="radio" value="1" {{#eq scope 1}}checked{{/eq}} name="scope"/>
                        不公开
                    </lable>
                </div>
            </div>
            <div class="form-group">
                <lable class="col-sm-2 control-label">新闻图片<span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></lable>
                <div class="col-sm-6 row">
                    <div class="col-sm-9">
                        <input class="form-control" name="imgUrl" placeholder="请选择新闻图片" value="{{imgUrl}}" type="text"/>
                    </div>
                    <button type="button" class="btn btn-default col-sm-3" onclick="search();"><i
                            class="fa fa-search"></i>
                        上传
                    </button>
                </div>
            </div>
            <div class="form-group">
                <lable class="col-sm-2 control-label">新闻内容<span style="color:red">（*）</span></lable>
                <div class="col-sm-8">
                    <script type="text/plain" name="content" id="editor" style="width:100%;height:360px;"></script>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-default col-sm-4" type="button" id="submit">保存</button>
                    <a href="/sys/news" class="btn btn-default col-sm-4 col-sm-offset-2">取消</a>
                </div>
            </div>
        </form>
    </div>
</div>

{{#extend "scripts"}}

    <!-- 配置文件 -->
    <script type="text/javascript" src="/umeditor/umeditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/umeditor/umeditor.min.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var URL = '/ueditor/';
        var serverPath = '/server/umeditor/';
        var um = UM.getEditor('editor', {
            imageUrl: 'http://7xobdo.com1.z0.glb.clouddn.com',
            imagePath: serverPath,
            lang: /^zh/.test(navigator.language || navigator.browserLanguage || navigator.userLanguage) ? 'zh-cn' : 'en',
            langPath: UMEDITOR_CONFIG.UMEDITOR_HOME_URL + "lang/",
            focus: true
        });

        //初始化数据
        var content = '{{{content}}}' || '';
        var id = '{{_id}}';
        um.ready(function () {
            um.setContent(content);
        })

        var newsSubmit = function () {
            var newsTitle = $.trim($('input[name=title]').val());
            var newsDescription = $.trim($('textarea[name=description]').val());
            var newsScope = $.trim($('input[name=scope]:checked').attr("value"));
            var newsContent = $.trim($('#editor').html());
            if(!newsTitle){
                $.warning('请输入新闻标题');
                return;
            }
            if(!newsDescription){
                $.warning('请输入新闻描述');
                return;
            }
            if(!newsScope){
                $.warning('请选择新闻发布范围');
                return;
            }
            if(newsContent == '<p><br></p>'){
                $.warning('请输入新闻内容');
                return;
            }

            var url = '/sys/news/add';
            if (id) {
                url = '/sys/news/edit';
            }
            my.ajax({
                url: url,
                data: $("form").serialize(),
                success: function () {
                    window.location = '/sys/news';
                }
            });
        };

        $('#submit').click(function () {
            newsSubmit();
        });

    </script>

{{/extend}}