<link href="/umeditor/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet">
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-7">
                <h4>通知添加</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <input type="hidden" name="id" value="{{_id}}"/>
            <input type="hidden" name="collegeId" value="{{collegeId}}"/>
            <div class="form-group">
                <lable class="col-sm-2 control-label">通知标题<span style="color:red">（*）</span></lable>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="title" placeholder="请输入通知标题" value="{{title}}"/>
                </div>
            </div>
            <div class="form-group">
                <lable class="col-sm-2 control-label">通知描述<span style="color:red">（*）</span></lable>
                <div class="col-sm-6">
                    <textarea type="text" class="form-control u-height" maxlength="100" name="description" placeholder="请输入通知描述(100字以内)">{{description}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <lable class="col-sm-2 control-label">通知类型<span style="color:red">（*）</span></lable>
                <div class="col-sm-6 notifyType">
                </div>
            </div>
            <div class="form-group">
                <lable class="col-sm-2 control-label">通知内容<span style="color:red">（*）</span></lable>
                <div class="col-sm-8">
                    <script type="text/plain" name="content" id="editor" style="width:100%;height:360px;"></script>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-default col-sm-4" type="button" id="submit">保存</button>
                    <a href="/sys/notify" class="btn btn-default col-sm-4 col-sm-offset-2">取消</a>
                </div>
            </div>
        </form>
    </div>
</div>

{{#extend "scripts"}}
    <!-- 配置文件 -->
    <script type="text/javascript" src="/umeditor/umeditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/umeditor/umeditor.min.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var URL = '/ueditor/';
        var serverPath = '/server/umeditor/';
        var um = UM.getEditor('editor', {
            imageUrl: 'http://7xobdo.com1.z0.glb.clouddn.com',
            imagePath: serverPath,
            lang: /^zh/.test(navigator.language || navigator.browserLanguage || navigator.userLanguage) ? 'zh-cn' : 'en',
            langPath: UMEDITOR_CONFIG.UMEDITOR_HOME_URL + "lang/",
            focus: true
        });

        //初始化数据
        var content = '{{{content}}}' || '';
        var id = '{{_id}}';
        getNotifyType();
        um.ready(function () {
            um.setContent(content);
        });

        var notifySubmit = function(){
            var notifyTitle = $.trim($('input[name=title]').val());
            var notifyDes = $.trim($('textarea[name=description]').val());
            var notifyContent = $.trim($('#editor').html());
            if(!notifyTitle){
                $.warning('请输入通知标题');
                return;
            }
            if(!notifyDes){
                $.warning('请输入通知描述');
                return;
            }
            if(notifyContent == '<p><br></p>') {
                $.warning('请输入通知内容');
                return;
            }
            var url = '/sys/notify/add';
            if (id) {
                url = '/sys/notify/edit';
            }
            my.ajax({
                url: url,
                data: $("form").serialize(),
                success: function () {
                    window.location = '/sys/notify';
                }
            });
        };

        $('#submit').click(function(){
            notifySubmit();
        });

        function getNotifyType(){
            var $notifyType = $('.notifyType');
            for(var i = 0; i < notifyType.length; i++){
                var str = '<lable class="radio-inline">';
                if ('{{type}}' == i) {
                    str += '<input type="radio" checked value="' + i + '" name="type"/>' + notifyType[i];
                } else {
                    str += '<input type="radio" value="' + i + '" name="type"/>' + notifyType[i];
                }
                str += '</lable>';
                $notifyType.append(str);
            }
        }

    </script>

{{/extend}}