<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-7">
                <h4>资源详情</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <lable class="col-sm-2 control-label">创建用户</lable>
                <div class="col-sm-10 u-word">
                    {{userId}}
                </div>
            </div>
            <div class="form-group">
                <lable class="col-sm-2 control-label">资源名称</lable>
                <div class="col-sm-10 u-word">
                    {{name}}
                </div>
            </div>
            <div class="form-group">
                <lable class="col-sm-2 control-label">资源地址</lable>
                <div class="col-sm-10 u-word">
                    {{url}}
                </div>
            </div>
            <div class="form-group">
                <lable class="col-sm-2 control-label">发布范围</lable>
                <div class="col-sm-10 u-word">
                    【<span id="scope"></span>】&nbsp;&nbsp;&nbsp;&nbsp;<span id="collegeVal"></span>
                </div>
            </div>
            <div class="form-group">
                <lable class="col-sm-2 control-label">资源描述</lable>
                <div class="col-sm-9 u-word u-border">
                    {{{description}}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <a href="/sys/res" class="btn btn-default col-sm-4 col-sm-offset-2">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>

{{#extend "scripts"}}
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        $(function () {
            var scopeSt = ['全部', '院系'];
            $('#scope').html(scopeSt['{{scope}}']);
            if('{{collegeIds}}'){
                var collegeSt = ['计算机系', '金融院系','等等等'];
                var collegeLen = {{collegeIds.length}};
                for(var i = 0; i<collegeLen; i++ ){
                }
                $('#collegeVal').html(collegeSt[0]);
            }
        });
    </script>

{{/extend}}