<link href="/umeditor/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet">
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-7">
                <h4>资源上传</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <input type="hidden" name="id" value="{{_id}}"/>
            <div class="form-group">
                <lable class="col-sm-2 control-label">资源名称<span style="color:red">（*）</span></lable>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="name" value="{{title}}" placeholder="请输入资源名称"/>
                </div>
            </div>
            <div class="form-group">
                <lable class="col-sm-2 control-label">资源文件<span style="color:red">（*）</span></lable>
                <div class="col-sm-6 row">
                    <div class="col-sm-9">
                        <input class="form-control" name="url" placeholder="请选择上传文件" value="{{url}}" type="text"/>
                    </div>
                    <button type="button" class="btn btn-default col-sm-3">
                        上传
                    </button>
                </div>
            </div>
            <div class="form-group">
                <lable class="col-sm-2 control-label">资源描述<span style="color:red">（*）</span></lable>
                <div class="col-sm-6">
                    <textarea type="text" class="form-control u-height" maxlength="100" name="description"
                           placeholder="请输入资源描述(100字以内)">{{description}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-default col-sm-4" type="button" id="submit">保存</button>
                    <a href="/sys/res" class="btn btn-default col-sm-4 col-sm-offset-2">取消</a>
                </div>
            </div>
        </form>
    </div>
</div>

{{#extend "scripts"}}

    <script type="text/javascript">
        var id = '{{_id}}';
        var jobSubmit = function () {
            var resTitle = $.trim($('input[name=name]').val());
            var resUrl = $.trim($('input[name=url]').val());
            var resDescription = $.trim($('textarea[name=description]').val());
            if(!resTitle){
                $.warning('请输入资源名称');
                return;
            }
            if(!resUrl){
                $.warning('请上传资源文件');
                return;
            }
            if(!resDescription){
                $.warning('请输入资源描述');
                return;
            }
            var url = '/sys/res/add';
            if (id) {
                url = '/sys/res/edit';
            }
            my.ajax({
                url: url,
                data: $("form").serialize(),
                success: function (data) {
                    window.location = '/sys/res';
                }
            });
        };

        $('#submit').click(function () {
            jobSubmit();
        });
    </script>

{{/extend}}