<link href="/umeditor/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet">
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-7">
                <h4>教师添加</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <input type="hidden" name="id" value="{{_id}}"/>
            <input type="hidden" name="identity" value="2"/>
            <input type="hidden" name="collegeId" value="0"/>
            <div class="form-group">
                <lable class="col-sm-2 control-label">教师工号</lable>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="companyName" value="{{stid}}" placeholder="请输入教师工号"/>
                </div>
            </div>
            <div class="form-group">
                <lable class="col-sm-2 control-label">教师姓名</lable>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="companyName" value="{{name}}" placeholder="请输入教师姓名"/>
                </div>
            </div>
            <div class="form-group">
                <lable class="col-sm-2 control-label">初始密码</lable>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="jobName" value="{{password}}"
                           placeholder="请输入初始密码"/>
                </div>
            </div>
            <div class="form-group">
                <lable class="col-sm-2 control-label">教师级别</lable>
                <div class="col-sm-6">
                    <lable class="radio-inline">
                        <input type="radio" value="0" {{#eq isHead 0}}checked{{/eq}} name="isHead"/>
                        班主任
                    </lable>
                    <lable class="radio-inline">
                        <input type="radio" value="1" {{#eq isHead 1}}checked{{/eq}} name="isHead"/>
                        其他
                    </lable>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-default col-sm-4" type="button" id="submit">保存</button>
                    <a href="/sys/job" class="btn btn-default col-sm-4 col-sm-offset-2">取消</a>
                </div>
            </div>
        </form>
    </div>
</div>

{{#extend "scripts"}}

    <script type="text/javascript">
        var id = '{{_id}}';

        var teacherSubmit = function () {
            var url = '/sys/teacher/add';
            if (id) {
                url = '/sys/teacher/edit';
            }
            my.ajax({
                url: url,
                data: $("form").serialize(),
                success: function (data) {
                    window.location = '/sys/teacher';
                }
            });
        };

        $('#submit').click(function () {
            teacherSubmit();
        });
    </script>

{{/extend}}