<div class="marginLR marginBottom">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="bgColor textColor2 marginTop fontSize2 paddAll1">企业招聘</div>
                <div class="textColor borderStyle1">
                    <ul class="nav nav-stacked">
                        <li><a href="/job">企业招聘</a></li>
                        <li class="myjob"><a href="/myjob">我的职位</a></li>
                        <li class="active addjob"><a href="/job/add">职位发布</a></li>
                    </ul>
                </div>
            </div>
            <div class="textColor paddTop col-md-9">
                <div class="paddBottom">
                    <span class="h4 textColor">职位发布</span>
                </div>
                <div class="paddAll4 borderStyle1 bgColor2">
                    <form role="form form-horizontal">
                        <input type="hidden" name="id" value="{{_id}}"/>
                        <input type="hidden" name="collegeId" value="{{collegeId}}"/>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">公司名称<span style="color:red">（*）</span></label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="companyName" placeholder="" value="{{companyName}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">工作地点<span style="color:red">（*）</span></label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="workPlace" placeholder="" value="{{workPlace}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">职位名称<span style="color:red">（*）</span></label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="jobName" placeholder="" value="{{workPlace}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">职位介绍<span style="color:red">（*）</span></label>
                            <div class="col-md-10">
                                <script type="text/plain" name="jobDescription" id="editor" style="width:100%;height:360px;"></script>
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-default col-sm-2 col-sm-offset-5 col-xs-12" type="button" id="submit">发布</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{#extend "scripts"}}

    <script type="text/javascript">
        var URL = '/ueditor/';
        var serverPath = '/server/umeditor/';
        var um = UM.getEditor('editor', {
            /*imageUrl: 'http://7xobdo.com1.z0.glb.clouddn.com',
            imagePath: serverPath,*/
            lang: /^zh/.test(navigator.language || navigator.browserLanguage || navigator.userLanguage) ? 'zh-cn' : 'en',
            langPath: UMEDITOR_CONFIG.UMEDITOR_HOME_URL + "lang/",
            focus: true
        });

        //初始化数据
        var content = '{{{jobDescription}}}' || '';
        var id = '{{_id}}';
        um.ready(function () {
            um.setContent(content);
        })

        var url = '/job/add';
        if (id) {
            $('.myjob').addClass('active');
            $('.addjob').removeClass('active');
            url = '/job/edit';
        }

        var jobSubmit = function(){
            var companyName = $.trim($('input[name=companyName]').val());
            var workPlace = $.trim($('input[name=workPlace]').val());
            var jobName = $.trim($('input[name=jobName]').val());
            var jobContent = $.trim($('#editor').html());
            alert(jobContent)
            if(!companyName){
                $.warning('请输入公司名称');
                return;
            }
            if(!workPlace){
                $.warning('请输入工作地点');
                return;
            }
            if(!jobName){
                $.warning('请选择职位名称');
                return;
            }
            if(jobContent == '<p><br></p>'){
                $.warning('请输入职位介绍');
                return;
            }
            my.ajax({
                url: url,
                data: $("form").serialize(),
                success: function () {
                    window.location = '/myjob';
                }
            });
        };

        $('#submit').click(function(){
            jobSubmit();
        });
    </script>
{{/extend}}
