<div class="marginLR marginBottom">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="bgColor textColor2 marginTop fontSize2 paddAll1">假条审批</div>
                <div class="textColor borderStyle1">
                    <ul class="nav nav-stacked">
                        <li class="active"><a href="/allNote">假条审批</a></li>
                    </ul>
                </div>
            </div>
            <!--假条审批-->
            <div class="textColor paddTop col-md-9">
                <div class="paddBottom">
                    <span class="h4 textColor">假条审批</span>
                </div>
                <div class="paddAll4 borderStyle1 bgColor2">
                    <form role="form form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-2 control-label">姓名</label>
                            <div class="col-md-2">
                                {{userName}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">请假时间</label>
                            <div class="col-md-8">
                                {{beginDate}}至{{endDate}}&nbsp;&nbsp;&nbsp;&nbsp;共：{{days}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">请假事由</label>
                            <div class="col-md-10">
                                {{reason}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">教师意见</label>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="3" name="rejectReason">{{rejectReason}}</textarea>
                            </div>
                        </div>
                    </form>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-3">
                            <a class="btn btn-default col-sm-2 col-sm-offset-2">通过</a>
                            <a class="btn btn-default col-sm-2 col-sm-offset-2">驳回</a>
                            <a href="/allNote" class="btn btn-default col-sm-2 col-sm-offset-2">取消</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#extend "scripts"}}
    <script>
        $(function () {
        });
    </script>
{{/extend}}
