<div class="marginLR marginBottom">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="bgColor textColor2 marginTop fontSize2 paddAll1">假条审批</div>
                <div class="textColor borderStyle1">
                    <ul class="nav nav-stacked">
                        <li class="allNoteW"><a href="/allNote">待审批</a></li>
                        <li class="allNote"><a href="/allNote">已审批</a></li>
                    </ul>
                </div>
            </div>
            <!--假条审批-->
            <div class="textColor paddTop col-md-9">
                <div class="paddBottom">
                    <span class="h4 textColor">假条审批</span>
                </div>
                <div class="paddAll4 borderStyle1 bgColor2">
                    <form role="form form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-2 control-label">姓名</label>
                            <div class="col-md-2">
                                {{userName}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">请假时间</label>
                            <div class="col-md-8">
                                {{beginDate}}至{{endDate}}&nbsp;&nbsp;&nbsp;&nbsp;共{{days}}天
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">请假事由</label>
                            <div class="col-md-10">
                                {{reason}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">教师意见</label>
                            <div class="col-md-10" id="rejectReason">
                            </div>
                        </div>
                    </form>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-3 hidden" id="wait">
                            <a href="javascript:approval(1);" class="btn btn-default col-sm-2 col-sm-offset-2">通过</a>
                            <a href="javascript:approval(0);" class="btn btn-default col-sm-2 col-sm-offset-2">驳回</a>
                            <a href="/allNote" class="btn btn-default col-sm-2 col-sm-offset-2">取消</a>
                        </div>
                        <a href="/allNote" id="approvaled" class="hidden btn btn-default col-sm-2 col-sm-offset-2">取消</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#extend "scripts"}}
    <script>
        $(function () {
            if('{{status}}' &&'{{status}}' == 2){
                $('.allNoteW').addClass('active');
                $('#wait').removeClass('hidden');
                var str = '<textarea class="form-control" rows="3" name="rejectReason"></textarea>';
                $('#rejectReason').append(str);
            }else{
                $('#approvaled').removeClass('hidden');
                $('.allNote').addClass('active');
                if('{{rejectReason}}'){
                    $('#rejectReason').html('{{rejectReason}}');
                }else{
                    $('#rejectReason').html('无意见');
                }
            }
        });
        function approval(status){
            var rejectReason = $.trim($('textarea[name=rejectReason]').val());
            my.ajax({
                url: '/note/appreval/' + '{{_id}}',
                data: {id:'{{_id}}',status:status,rejectReason:rejectReason},
                success: function () {
                    $.success('操作成功', null, null, function () {
                        window.location = '/allNote';
                    });
                },
                error: function () {
                    $.danger('网络异常，请联系管理员！');
                }
            });
        }
    </script>
{{/extend}}
