<div class="marginLR marginBottom">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="bgColor textColor2 marginTop fontSize2 paddAll1">假条审批</div>
                <div class="textColor borderStyle1">
                    <ul class="nav nav-stacked">
                        <li class="active"><a href="/note">我的假条</a></li>
                        <li><a href="/note/add">请假申请</a></li>
                    </ul>
                </div>
            </div>
            <div class="textColor paddTop col-md-9">
                <div class="paddBottom">
                    <span class="h4 textColor">假条详情</span>
                </div>
                <div class="paddAll4 borderStyle1 bgColor2">
                    <form role="form form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-2 control-label">姓名</label>
                            <div class="col-md-2">
                                {{userName}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">请假时间</label>
                            <div class="col-md-7">
                                {{beginDate}}至{{endDate}}&nbsp;&nbsp;&nbsp;&nbsp;共：{{days}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">请假事由</label>
                            <div class="col-md-10">
                                {{reason}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 control-label">假条状态</label>
                            <div class="col-md-10" id="noteStatus">

                            </div>
                        </div>
                        <div class="form-group row" id="teacherSugg">
                            <label class="col-md-2 control-label">教师意见</label>
                            <div class="col-md-10">
                                {{rejectReason}}
                            </div>
                        </div>
                    </form>
                    <div class="btn-group col-sm-4 col-sm-offset-4">
                        <a href="/note" class="btn btn-default col-sm-4 col-sm-offset-2">取消</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#extend "scripts"}}
    <script>
        $(function () {
            var noteStatus = '{{status}}';
            var str;
            if(noteStatus == 0){
                str = '<span class="label label-danger">未通过</span>';
            }else if(noteStatus == 1){
                str = '<span class="label label-success">已通过</span>';
            }else{
                str = '<span class="label bgColor">审核中</span>';
                $('#teacherSugg').addClass('hidden');
            }
            $('#noteStatus').append(str);
        });
    </script>
{{/extend}}
